// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// BaseTable
.double-scroll {
  margin-top: 1.5rem;
  transform: rotateX(180deg);
  overflow-y: hidden;
  overflow-x: auto;

  .base-table {
    margin: 0;
    transform: rotateX(180deg);
    min-height: 480px
  }
}

.base-table-row {
  display: flex;
  align-items: stretch;

  .base-table-column {
    border-bottom: 1.5px solid rgba(0, 0, 0, .08235294117647059);
    min-width: 124px;
    flex: 1 1 0;
    padding: 0.5rem 0.85rem;
    overflow: hidden;
    white-space: break-word;
    text-overflow: ellipsis;

    &.overflow-visible {
      overflow: visible;
      white-space: normal;
    }
  }
}

.base-table-row-head {
  .base-table-column {
    font-weight: 600;
    background-color: transparent;
    line-height: 40px;
    text-transform: capitalize;
  }
}