// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// BaseTable
.double-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 1.5rem;
  transform: rotateX(180deg);

  .base-table {
    margin: 0;
    min-height: 480px;
    transform: rotateX(180deg);
  }
}

.base-table-row {
  display: flex;
  align-items: stretch;

  .base-table-column {
    flex: 1 1 0;
    min-width: 124px;
    overflow: hidden;
    padding: 0.5rem 0.85rem;
    white-space: break-word;
    text-overflow: ellipsis;
    border-bottom: 1.5px solid rgba(0, 0, 0, .08235294117647059);

    &.overflow-visible {
      overflow: visible;
      white-space: normal;
    }

    // dropdown actiontool
    .dropdown-menu {
      &.show {
        display: block !important;
        position: absolute !important;
        inset: 0px 0px auto 85px !important;
        transform: translate(-220px, -5px) !important;
      }
    }

    .dropstart {
      .dropdown-toggle {
        &:before {
          display: none !important;
        }
      }
    }
  }
}

.base-table-row-head {
  .base-table-column {
    font-weight: 600;
    line-height: 40px;
    text-transform: capitalize;
    background-color: transparent;
  }
}